{%- extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% block content %}
    <div class="container">
        {%- with messages = get_flashed_messages(with_categories=True) %}
            {%- if messages %}
                <div class="row">
                    <div class="col-md-12">
                        {{utils.flashed_messages(messages)}}
                    </div>
                </div>
            {%- endif %}
        {%- endwith %}
        <h1>Manage candidates for {{ current_race.name }} </h1>
        <h2>Current Candidates</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Candidate ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Party</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for candidate in assigned_candidates %}
                <tr>
                    <th scope="row">{{ candidate.candidate_id }}</th>
                    <td>{{ candidate.first_name }}</td>
                    <td>{{ candidate.last_name }}</td>
                    <td>{{ candidate.party }}
                        {% if candidate.incumbent  %}
                            (I)
                        {% endif %}
                    </td>
                    <td>
                        <a type="button" class="btn btn-primary" href=/process_candidate_assignment/?action=remove&candidate_id={{ candidate.candidate_id }}&race={{ current_race.race_id }}&user={{ user }}">Remove</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h2>Unassigned Candidates</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Candidate ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Party</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for candidate in unassigned_candidates %}
                <tr>
                    <th scope="row">{{ candidate.candidate_id }}</th>
                    <td>{{ candidate.first_name }}</td>
                    <td>{{ candidate.last_name }}</td>
                    <td>{{ candidate.party }}
                        {% if candidate.incumbent  %}
                            (I)
                        {% endif %}
                    </td>
                    <td>
                        <a type="button" class="btn btn-primary" href=/process_candidate_assignment/?action=add&candidate_id={{ candidate.candidate_id }}&race={{ current_race.race_id }}&user={{ user }}">Add</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}