{%- extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% block content %}
    <form method="POST">
        {{ form.csrf_token }}
        <div class="modal fade" id="raceModal" tabindex="-1" aria-labelledby="raceModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="raceModalLabel">Race Information</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ wtf.form_field(form.name) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        {{ wtf.form_field(form.submit_button, button_map={'submit_button':'primary'}) }}
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="container">
        {%- with messages = get_flashed_messages(with_categories=True) %}
            {%- if messages %}
                <div class="row">
                    <div class="col-md-12">
                        {{utils.flashed_messages(messages)}}
                    </div>
                </div>
            {%- endif %}
        {%- endwith %}
        <h1>Manage Races </h1>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#raceModal">
            Create Race
        </button>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Race ID</th>
                <th scope="col">Race Name</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for race in races %}
                <tr>
                    <th scope="row">{{ race.race_id }}</th>
                    <td>{{ race.name }}</td>
                <td>
                    <a type="button" class="btn btn-primary btn-sm" href="assign_candidates/?race={{ race.race_id }}&user={{ user }}">Update Candidates</a>
                </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}