{%- extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% block content %}

  <div class="container">
      {%- with messages = get_flashed_messages(with_categories=True) %}
          {%- if messages %}
              <div class="row">
                  <div class="col-md-12">
                      {{utils.flashed_messages(messages)}}
                  </div>
              </div>
          {%- endif %}
      {%- endwith %}
      <h1>Search Results </h1>
      <table class="table table-striped">
          <thead>
          <tr>
              <th scope="col">Voter ID</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Zip Code</th>
          </tr>
          </thead>
          <tbody>
          {% for voter in voters %}
              <tr>
                  <th scope="row">{{ voter.voter_id }}</th>
                  <td>{{ voter.first_name }}</td>
                  <td>{{ voter.last_name }}</td>
                  <td>{{ voter.zip_code }}</td>
              </tr>
          {% endfor %}
          </tbody>
      </table>
  </div>
{% endblock %}