{%- extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}

{% block content %}
    <form method="POST">
        {{ form.csrf_token }}
        <div class="container">
            {%- with messages = get_flashed_messages(with_categories=True) %}
                {%- if messages %}
                    <div class="row">
                        <div class="col-md-12">
                            {{utils.flashed_messages(messages)}}
                        </div>
                    </div>
                {%- endif %}
            {%- endwith %}
            <div class="jumbotron">
                <h1>Change Address</h1>
                <p>Please fill out the following form to update your Address.</p>
            </div>
            <div class="form-group">
                <div class="card-group">
                    <div class="card">
                        <h2 class="card-header">Current Address Information</h2>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-8">
                                    <h5 class="card-title">
                                        Street Address
                                    </h5>
                                    <p class="card-text">
                                    {{ voter.address }}
                                    </p>
                                </div>
                                <div class="col-lg-4">
                                    <h5 class="card-title">
                                        Unit / Apt #
                                    </h5>
                                    <p class="card-text">
                                        {{ voter.address2 }}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <h5 class="card-title">
                                        City
                                    </h5>
                                    <p class="card-text">
                                        {{ voter.city }}
                                    </p>
                                </div>
                                <div class="col-lg-4">
                                    <h5 class="card-title">
                                        State
                                    </h5>
                                    <p class="card-text">
                                        {{ voter.state }}
                                    </p>
                                </div>
                                <div class="col-lg-4">
                                    <h5 class="card-title">
                                        Zip + 4
                                    </h5>
                                    <p class="card-text">
                                    {{ voter.zip_code }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <h2 class="card-header">New Address Information</h2>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-8">
                                    {{ wtf.form_field(form.address) }}
                                </div>
                                <div class="col-lg-4">
                                    {{ wtf.form_field(form.address2) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    {{ wtf.form_field(form.city) }}
                                </div>
                                <div class="col-lg-4">
                                    {{ wtf.form_field(form.state) }}
                                </div>
                                <div class="col-lg-4">
                                    {{ wtf.form_field(form.zip_code) }}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                        <div class="d-grid p-2 ">
                            {{ wtf.form_field(form.submit_button, button_map={'submit_button':'primary'}) }}
                        </div>
                    </div>
            </div>
        </div>
    </form>
{%- endblock %}